<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Point of Sale</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Point of Sale System</h1>
    </header>
    <main>
        <section class="inventory-section">
            <h2>Inventory</h2>
            <table id="pos-table"
		    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Add to Cart</th>
                    </tr>
                </thead>
                <tbody id="inventory-table">
                    <!-- Dynamic content to be injected here -->
                </tbody>
	    </table>
	     </section>

        <section class="cart-section">
            <h2>My Cart</h2>
            <div id="cart-items">
                <p>No items in cart yet.</p>
            </div>
            <div class="cart-footer">
                <button id="checkout-btn">Checkout</button>
                <p id="total-price">Total: $0.00</p>
            </div>
        </section>
    </main>

    <script src="../static/js/script.js"></script>
</body>
</html>
